* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

li {
  list-style: none;
}

header {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 5;
  background: white;
}

.header-nav {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.nav-left {
  height: 60px;
  width: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon img {
  height: 60px;
}

.top {
  color: white;
  background-image: url(./img/bg.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  height: 80vh;
  width: 100%;
}

.vision {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.vision .contents {
  width: 680px;
}

.how {
  width: 1280px;
  min-height: 50vh;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.how-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.how-title {
  width: 680px;
  margin: 0 auto 120px auto;
}

.how-list > .item {
  padding: 18px;
  width: 200px;
  height: 200px;
  border: solid 1px gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-shadow: gray 1px 1px;
}

.how-list > .item > * {
  margin-top: 8px;
}

footer p {
  margin: auto;
  text-align: center;
}
